:root{
--primary-color: #0165a7;
--second-color:white;
--leftbox-color:#4a4a4a;
}

*{
    margin:0;
    padding: 0;
    color: var(--leftbox-color);
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

body{
    max-width: 1024px;
    margin:auto;
    margin-top:100px;
}

p{
    margin-bottom: 16px;
}

a:link,
a:visited{
text-decoration:none;
}

.main_section{
    display: flex;   
}

.leftbox{
    width:40%;
    height:auto;
    margin-right:20px;
    background-image: url('img/img1.jpg');
    background-position: center;  
}

.rightbox{
   width:60%;
}

.article_img1,.article_img2,.article_img3{
    width: 100%;
    height: auto;
    margin-top: 60px;

}

.cards{
    display: flex;

}

.card{
    flex-grow: 1;
    padding-right:20px;
    padding-top: 24px;
} 

h3{
height: 100px;
}

.title{
    padding: 16px 8px;
    border-bottom: 10px solid var(--primary-color);
    max-width: 400px;
    background-color: var(--second-color);
    position: relative;
    left: -210px;
    margin-top: 20px;
    color: var(--primary-color);
}

/* This styles are for Desktop popup */
.pop_up{
    background-color:rgba(74,74,74, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.pop_upcontent{
    width: 50%;
    height: 70%;
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
}

#popup:target{
    opacity: 1;
    visibility: visible;
}

#popup:target .pop_upcontent{
    opacity: 1;
    visibility: visible;   
}

.close{
    position: absolute;
    font-size: 30px;
    color: var(--second-color);
    top: 16px;
    right: 20px;
}

.popup_title{
    
    background-color: var(--primary-color);
}

.popup_title h2{
    color: var(--second-color);
    font-size: 30px;
    max-width: 700px;
    padding: 40px 25px;
}

.para{
    font-size: 15px;
    padding: 20px 25px;
    line-height: 20px;
    position: relative;
}

.cont{
    position: absolute;
    right: 24px;
    bottom: 8px;
}

/* This styles are for mobile */
 @media only screen and (max-width: 500px) {
        
    body {
            margin-top: 0px;
            
        }
        .main_section{
            display:flex;
            flex-direction: column;
             }
            .leftbox{
            width: 100%;
            height: 300px;
            }
            .rightbox{
                width:100%;
            }
             .cards{
                display: flex;
                flex-direction: column;
                position: relative;
                top:-100px;
                padding-left: 20px;
            } 
            .title{
                left:0px;
                top:-200px;
                max-width: 300px;
            }
            
            .card{
                display: flex;
                flex-grow: 1;
            }

            .article_img1,.article_img2,.article_img3{
                width: auto;
                height: 100px;
                margin-top: 0px;
            }
            /* This styles are for Mobile popup */
    .pop_upcontent{
        width :90%;
        height: auto;
    }
    .cont{
        margin-bottom: 6px;
    }
}


       
        